.Card {
  padding: 1rem 2rem !important;
  .userInfo {
    width: 100%;
    display: flex;
    .imgContainer {
      margin-right: 10px;
    }
    .user {
      .username {
        display: flex;
        align-items: center;
      }
      h4,
      h5 {
        margin: 5px 0 !important;
      }
      h5 {
        font-size: 12px;
        color: var(--main-text);
        margin-left: 5px !important;
      }
    }
  }
  .content {
    margin: 20px 0;
    h5 {
      font-weight: 500;
      color: var(--main-text);
      line-break: auto;
      word-break: break-word;
    }
  }
  .footer {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    div.actions {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 50%;
    }
    i {
      color: var(--main-text);
      cursor: pointer;
    }
  }
}

.singlePost {
  width: 100%;
  display: flex;
  flex-direction: row;

  .imgContainer {
    margin-right: 10px;
    width: 150px;
    height: 150px;
  }
  .postSection {
    display: flex;
    flex-direction: column;
    width: 100%;
    .Card {
      padding: 1rem 2rem !important;
      .userInfo {
        width: 100%;
        display: flex;

        .user {
          .username {
            display: flex;
            align-items: center;
          }
          h4,
          h5 {
            margin: 5px 0 !important;
          }
          h5 {
            font-size: 12px;
            color: var(--main-text);
            margin-left: 5px !important;
          }
        }
      }
      .content {
        margin: 20px 0;
        h5 {
          font-weight: 500;
          color: var(--main-text);
          line-break: auto;
          word-break: break-word;
        }
      }
      .footer {
        margin: 15px 0;
        display: flex;
        justify-content: space-between;
        div.actions {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          width: 50%;
        }
        i {
          color: var(--main-text);
          cursor: pointer;
        }
      }
    }
  }
}
