.sidebar {
  height: 100vh;
  background: var(--main-background);
  box-shadow: 0 3px 6px var(--shadow);
  padding: 3rem;
  .container {
    display: flex;
    flex-direction: column;
    .logoContainer {
      padding: 0 0.5rem;
      .logo {
        width: 35px;
        height: 35px;
        fill: var(--main-color);
        margin-bottom: 3rem;
      }
    }
    .link {
      color: var(--main-text);
      display: flex;
      align-items: center;
      padding: 1.3rem 0.5rem;
      &.active {
        color: var(--main-color);
      }
      h3 {
        margin-left: 1rem;
      }
    }
  }
}
