.sidebar {
  height: 100vh;
  background: var(--main-background);
  box-shadow: 0 3px 6px var(--shadow);
  padding: 3rem;
  .container {
    display: flex;
    flex-direction: column;
    height: 60%;
    justify-content: space-between;
    .logoContainer {
      padding: 0 0.5rem;
      .logo {
        width: 35px;
        height: 35px;
        fill: var(--main-color);
      }
    }
    .linksContainer {
      .link {
        color: var(--main-text);
        display: flex;
        align-items: center;
        padding: 0.5rem 0.5rem;
        cursor: pointer;
        border-radius: 10px;
        margin: 20px 0;
        transition: 0.1s all ease-in-out;
        &.active {
          color: var(--main-color);
          background-color: var(--hover-color);
        }
        &:hover {
          color: var(--main-color);
          background-color: var(--hover-color);
        }
        h3 {
          margin-left: 1rem;
        }
      }
    }
  }
}
